<div ng-app="alchemyAPI" ng-controller="analyzerCtrl">

    <h1> Alchemy API Analyzer</h1>

    <button ng-click="showTwitterSentiments()">How do Twitter users feel about Alchemy API in the past week?</button>

    <div id="twitter-thinking"></div>
    <div id="twitter-results"></div>

    <button ng-click="showStackOverflowSentiments()">How do Stackoverflow users feel about Alchemy API currently?</button>

    <div id="stackoverflow-thinking"></div>
    <div id="stackoverflow-results"></div>

</div>




